/* root variable */
:root {
    --bg-navbar: rgb(24 24 24);
    --text-dark: rgb(29 29 31);
    --text-light: rgb(209 209 209);
    --blue: rgb(0 113 227);
    --white: #f8f8fd;
    --black: #000;
}

/* main */
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    >header {
        width: 100%;
        height: 45px;
        background-color: var(--bg-navbar);
        position: fixed;
        top: 0;
        z-index: 999;

        >nav {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            >ul {
                width: 72%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                >li {
                    padding: 15px 0;

                    >a {
                        color: var(--text-light);
                        font-size: 14px;
                    }

                    &:nth-of-type(2) {
                        &:hover {
                            >div {
                                height: 410px;
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        &:hover {
                            >div {
                                height: 510px;
                            }
                        }
                    }

                    &:nth-of-type(4) {
                        &:hover {
                            >div {
                                height: 470px;
                            }
                        }
                    }

                    &:nth-of-type(5),
                    &:nth-of-type(6) {
                        &:hover {
                            >div {
                                height: 440px;
                            }
                        }
                    }

                    &:nth-of-type(7) {
                        &:hover {
                            >div {
                                height: 250px;
                            }
                        }

                        >div {
                            >ul {
                                >li {
                                    &:first-of-type {
                                        >ul {
                                            >li {

                                                &:nth-of-type(2) {
                                                    margin-top: 20px;

                                                    >a {
                                                        font-weight: 600;
                                                        font-size: 13px;
                                                    }
                                                }

                                                &:nth-of-type(3) {
                                                    >a {
                                                        font-weight: 600;
                                                        font-size: 13px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(8) {
                        &:hover {
                            >div {
                                height: 335px;
                            }
                        }

                        >div {
                            >ul {
                                >li {
                                    &:first-of-type {
                                        >ul {
                                            >li {

                                                &:nth-of-type(5) {
                                                    margin-top: 20px;

                                                    >a {
                                                        font-weight: 600;
                                                        font-size: 13px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(9) {
                        &:hover {
                            >div {
                                height: 370px;
                            }
                        }
                    }

                    &:nth-of-type(10) {
                        &:hover {
                            >div {
                                height: 500px;
                            }
                        }
                    }

                    &:nth-of-type(11) {
                        &:hover {
                            >div {
                                height: 450px;
                            }
                        }
                    }

                    &:nth-of-type(12) {
                        &:hover {
                            >div {
                                height: 480px;
                            }
                        }

                        >div {
                            >ul {
                                >li {
                                    &:first-of-type {
                                        >ul {
                                            >li {

                                                &:nth-of-type(9) {
                                                    margin-top: 20px;

                                                    >a {
                                                        font-weight: 600;
                                                        font-size: 13px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        >div {
                            >ul {
                                >li {
                                    >ul {
                                        >li {

                                            &:nth-of-type(9) {
                                                margin-top: 20px;

                                                >a {
                                                    font-weight: 600;
                                                    font-size: 13px;
                                                }
                                            }

                                            &:nth-of-type(10) {
                                                >a {
                                                    font-weight: 600;
                                                    font-size: 13px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(5),
                    &:nth-of-type(6) {
                        >div {
                            >ul {
                                >li {
                                    &:first-of-type {
                                        >ul {
                                            >li {

                                                &:nth-of-type(7) {
                                                    margin-top: 20px;

                                                    >a {
                                                        font-weight: 600;
                                                        font-size: 13px;
                                                    }
                                                }

                                                &:nth-of-type(8) {
                                                    >a {
                                                        font-weight: 600;
                                                        font-size: 13px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        >div {
                            >ul {
                                opacity: 1;
                            }
                        }
                    }

                    >div {
                        transition: .4s;
                        width: 100%;
                        height: 0;
                        overflow: hidden;
                        position: absolute;
                        top: 45px;
                        left: 0;
                        background-color: var(--bg-navbar);
                        display: flex;
                        justify-content: center;

                        >ul {
                            width: 72%;
                            display: flex;
                            gap: 70px;
                            opacity: 0;
                            transition: .6s;

                            >li {
                                >ul {
                                    >h2 {
                                        font-size: 14px;
                                        color: #f8f8fd98;
                                        font-weight: 200;
                                        text-transform: capitalize;
                                        margin: 35px 0 15px;
                                    }
                                }

                                &:nth-of-type(1) {
                                    >ul {
                                        >li {
                                            >a {
                                                font-weight: 500;
                                                font-size: 22px;
                                                text-transform: capitalize;
                                                color: var(--text-light);
                                                margin-bottom: 10px;
                                                display: flex;
                                            }
                                        }
                                    }
                                }

                                &:nth-of-type(2),
                                &:nth-of-type(3) {
                                    >ul {
                                        >li {
                                            >a {
                                                font-weight: 600;
                                                font-size: 13px;
                                                text-transform: capitalize;
                                                color: var(--text-light);
                                                margin-bottom: 10px;
                                                display: flex;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >aside {
        width: 100%;
        margin-top: 45px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 15px;

        >a {
            color: #0071e3;
        }
    }

    >.pro16,
    >.iphone16 {
        width: 100%;
        height: 90vh;
        background-image: url(../img/new2.jpg);
        background-size: cover;
        background-position: top;
        color: var(--white);
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        >div {
            margin-top: 45px;

            >h2 {
                font-size: 53px;
                margin-bottom: 15px;
            }

            >h3 {
                font-size: 27px;
                font-weight: 200;
                margin-bottom: 30px;
            }

            >div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;

                >button {
                    padding: 13px 25px;
                    font-size: 17px;
                    border-radius: 30px;
                    cursor: pointer;

                    &:first-of-type {
                        border: none;
                        background-color: #0071e3;
                        color: var(--white);
                    }

                    &:last-of-type {
                        border: 1px solid #0071e3;
                        color: #0071e3;
                        background-color: transparent;
                        transition: .2s;

                        &:hover {
                            background-color: #0071e3;
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }

    >.iphone16 {
        background-image: url(../img/iphone16.webp);
        margin-bottom: 10px;

        >div {
            >div {
                >button {
                    &:first-of-type {
                        background-color: var(--white);
                        color: var(--black);
                    }

                    &:last-of-type {
                        border: 1px solid var(--white);
                        color: var(--white);

                        &:hover {
                            background-color: var(--white);
                            color: var(--black);
                        }
                    }
                }
            }
        }
    }

    >.mac {
        justify-content: center;
        align-items: center;

        >div {
            margin: 10px;
            width: 48%;
            height: 90vh;
            background-size: cover;
            background-position: center;
            text-align: center;

            >div {
                margin-top: 45px;

                >h2 {
                    font-size: 35px;
                    margin-bottom: 10px;
                }

                >h3 {
                    font-size: 21px;
                    font-weight: 200;
                    margin-bottom: 20px;
                }

                >img {
                    margin: 0 10px 10px 0;
                }

                >div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;

                    >button {
                        padding: 8px 18px;
                        font-size: 17px;
                        border-radius: 30px;
                        cursor: pointer;

                        &:first-of-type {
                            border: none;
                            background-color: #0071e3;
                            color: var(--white);
                        }

                        &:last-of-type {
                            border: 1px solid #0071e3;
                            color: #0071e3;
                            background-color: transparent;
                            transition: .2s;

                            &:hover {
                                background-color: #0071e3;
                                color: var(--white);
                            }
                        }
                    }
                }
            }

            &:nth-of-type(1) {
                color: var(--white);
                background-image: url(../img/macbookpro.webp);
            }

            &:nth-of-type(2) {
                background-image: url(../img/macmini.webp);
            }

            &:nth-of-type(3) {
                background-image: url(../img/imac.webp);
            }

            &:nth-of-type(4) {
                background-image: url(../img/apple_watch.webp);
            }

            &:nth-of-type(5) {
                background-image: url(../img/iphone_tradein.webp);

                >div {
                    >h3 {
                        width: 350px;
                        margin: 0 auto 20px;
                    }

                    >div {
                        >button {
                            border: none;
                            background-color: #0071e3;
                            color: var(--white);
                        }
                    }
                }
            }

            &:nth-of-type(6) {
                background-image: url(../img/apple_card.webp);

                >div {
                    >h3 {
                        width: 320px;
                        margin: 0 auto 20px;
                    }
                }
            }
        }
    }

    >.slider-swiperJs {
        margin-bottom: 25px;

        >.swiper {
            width: 97.5%;
            height: 85vh;

            >.swiper-wrapper {

                >.swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        filter: brightness(70%);
                    }
                }
            }

            >.autoplay-progress {
                position: absolute;
                right: 16px;
                bottom: 16px;
                z-index: 10;
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: var(--swiper-theme-color);

                >svg {
                    --progress: 0;
                    position: absolute;
                    left: 0;
                    top: 0px;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    stroke-width: 4px;
                    stroke: var(--swiper-theme-color);
                    fill: none;
                    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
                    stroke-dasharray: 125.6;
                    transform: rotate(-90deg);
                }
            }
        }
    }

    >.gallery {
        flex-wrap: nowrap;
        margin: 0 auto 40px;
        overflow: auto;
        overflow-y: hidden;
        width: 97.5%;
        gap: 15px;
        padding-bottom: 10px;

        >figure {
            min-width: 450px;
            height: 250px;
            position: relative;
            transition: .3s;

            &:hover {
                >img {
                    filter: brightness(50%);
                }

                >button {
                    opacity: 1;
                    top: 50%;
                }
            }

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            >figcaption {
                color: var(--white);
                font-size: 16px;
                font-weight: bold;
                position: absolute;
                bottom: 20px;
                left: 15px;
                text-shadow: 1px 1px 1px var(--text-dark),
                    2px 2px 2px var(--text-dark);
            }

            >p {
                color: var(--bg-navbar);
                font-size: 16px;
                position: absolute;
                bottom: 15px;
                right: 15px;
                text-transform: capitalize;
                background-color: var(--white);
                padding: 8px;
                border-radius: 30px;
            }

            >button {
                border: none;
                padding: 10px;
                border-radius: 30px;
                background-color: var(--white);
                color: var(--bg-navbar);
                font-size: 14px;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: .3s;
                z-index: 20;
                cursor: pointer;
            }
        }
    }

    >footer {
        background-color: var(--white);
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        >div {
            width: 72%;

            >p {
                font-size: 13px;
                color: rgb(141, 141, 141);
                margin-bottom: 15px;
                text-align: justify;

                &:nth-of-type(7) {
                    margin-bottom: 20px;
                }

                &:nth-of-type(8) {
                    margin: 20px 0;

                    >a {
                        color: var(--blue);
                    }
                }

                >a {
                    text-decoration: underline !important;
                }
            }

            >.line {
                width: 100%;
                height: 1px;
                background-color: rgba(141, 141, 141, 0.699);
                margin-bottom: 17px;
            }

            >.links {
                width: 100%;
                display: flex;
                gap: 40px;

                >div {
                    width: 20%;

                    >h3 {
                        font-size: 13px;
                        margin-bottom: 8px;
                        color: rgb(75, 75, 75);

                        &:nth-of-type(2),
                        &:nth-of-type(3),
                        &:nth-of-type(4) {
                            margin-top: 25px;
                        }
                    }

                    >ul {
                        >li {
                            margin-bottom: 5px;

                            >a {
                                font-size: 12px;
                                color: rgb(141, 141, 141);

                                &:hover {
                                    text-decoration: underline !important;
                                }
                            }
                        }
                    }
                }
            }

            >.footer-info {
                >div {
                    >p {
                        color: rgb(121, 121, 121);
                        margin: 30px 0 30px;

                        >strong {
                            color: rgb(75, 75, 75);
                        }
                    }

                    >div {
                        display: flex;
                        align-items: center;
                        gap: 18px;
                        margin-bottom: 25px;

                        >a {
                            font-size: 17px;
                            transition: .2s;
                            color: rgb(75, 75, 75);

                            &:hover {
                                text-decoration: underline;
                                color: var(--bg-navbar);
                            }
                        }

                        >i {
                            font-size: 22px;
                            color: var(--bg-navbar);
                        }
                    }
                }
            }
        }
    }

    >.fixed-info {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 1px solid rgb(255 220 75);
        outline: 1px solid rgb(255 220 75);
        outline-offset: 2px;
        position: fixed;
        bottom: 50px;
        right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        z-index: 999;

        &:hover {
            >a {
                >i {
                    visibility: visible;
                }
            }
        }

        >.circle {
            width: 165px;
            height: 165px;
            border-radius: 50%;

            >img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        >strong {
            position: absolute;
            top: 45%;
            right: -85px;
            transform: rotate(90deg);
            font-size: 14px;
            font-style: italic;
            color: var(--bg-navbar);
        }

        >a {
            >i {
                font-size: 26px;
                color: rgb(68, 68, 68);
                position: absolute;
                visibility: hidden;
                transition: .2s linear;
                padding: 10px 30px;

                &:hover {
                    opacity: 1;
                    color: var(--bg-navbar);
                }
            }

            &:nth-of-type(1) {
                >i {
                    top: -10px;
                    left: -58px;
                }
            }

            &:nth-of-type(2) {
                >i {
                    top: 40px;
                    left: -80px;
                }
            }

            &:nth-of-type(3) {
                >i {
                    top: 90px;
                    left: -80px;
                }
            }

            &:nth-of-type(4) {
                >i {
                    top: 130px;
                    left: -58px;
                }
            }
        }
    }
}